/* Blue variables */
$theme-color: #327bc4;
$text-color: #191b1f;
$text-color-secondary: #373e47;
$text-grey: #758497;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$oxford-blue: #002147;
$heart: #ff6f6f;
